.header {
  padding: 20px 0 5px;
  background-color: var(--gray-color);
  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      font-weight: bold;
      font-size: 20px;
      color: var(--orange-color);
      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .menu {
      text-align: center;
      width: fit-content;
      @media screen and (max-width: 768px) {
        margin: 0 auto;
      }
      ul {
        padding: 0;
        width: fit-content;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;
        li {
          a {
            color: var(--white-color);
            text-decoration: none;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            &:hover {
              color: var(--orange-color);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
