/* tableOfExpenses.css */
.table-of-exp {
  padding: 50px !important;
  background-color: var(--gray-color);
  width: 100%;
}

.table-of-exp-head {
  background-color: var(--orange-color);
  border-bottom: 1px solid var(--white-color);

  .head-item {
    text-align: center;
  }
}

.table-of-exp-row {
  .table-cell:not(:first-child) {
    width: calc(100% / 5);
    text-align: center;
  }
}

.table-of-exp-row:not(:last-child) {
  border-bottom: 1px solid var(--white-color);
}
